{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>about safe bank</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{ static 'css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{ static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{ static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{ static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{ static 'css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

 <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div>
                    <div>
                        <div>
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.html"><img src="{% static 'images/banner.png' %}" alt="image" style="height:300px;width:100%;"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:safebank@gmail.com"><img src="{% static 'images/mail_icon.png' %}" alt="#" />safebank@gmail.com</a></li>
                            <li><a href="tel:safebank@gmail.com"><img src="{% static 'images/phone_icon.png' %}" alt="#" />+7123569847</a></li>
                            <li><a class="join_bt" href="#">Join us</a></li>
                        </ul>
                    </div>
                </div>
                        </div>
                    </div>
                    </div>
            </div>
        
        </div>
        <div>
            <div>
                <div class="alert alert-danger" role="alert">
    <b style="text-align:center;">This is a demonstration of Online banking website.Not a real banking website!</b>
        </div>
            </div>
            </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg"> 
                     <div class="menu_section">


    <!-- Start Banner -->
    <div class="section inner_page_banner" style="text-align:center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>About Safe Bank</h3><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">

                    </div>
                    <div class="full paddding_left_15">

                            <b>VISION</b><br>
                            Be the Bank of Choice for A Transforming India<br>
                            <b>Mission</b><br>
                            Committed to Providing Simple, Responsive, and Innovative Financial Solutions<br>
                            <b>Value</b><br>
                            Service Transparency Ethics Politeness Sustainability<br>
                        With a legacy of over 200 years, Safe Bank traces its ancestry to the Bank of Calcutta founded
                        in 1806 and is the oldest commercial bank in the Indian subcontinent.
                        Safe Bank is an Indian multinational, public sector banking and financial services statutory
                        body, fostering the nation’s 2.6 trillion-dollar economy and serving the hopes of its vast
                        population.
                        For Safe Bank, the interests of the common man have always remained at the core of its
                        business.With a customer-centric approach, the Bankhas designed products and services to meet
                        the expectations of the financial life cycle of its valued clientele. Keeping pace with the
                        transforming landscape of the Indian economy, Safe Bank has broadened its digital base in recent
                        years. The Bank plays a fundamental role in making the Government of India’s Digital India
                        initiative a reality.
                        Headquartered in Mumbai,Safe Bank provides a wide range of products and services to individuals,
                        commercial enterprises, large corporates, public bodies, and institutional customers through its
                        various branches and outlets, joint ventures, subsidiaries, and associate companies. It has
                        always been in the forefront to embrace changes without losing sight of its values such as
                        Transparency, Sustainability, Social Responsibility, and Customer Service.
                    </div>

                </div>
    <!-- end section -->
            </div>
        </div>
    </div>
                     </div>
                   </nav>
</body>
<div>
  <footer class="footer-box">
              <div class="footer_bottom">
               <div class="container">
                   <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2019 owned by Safe Bank </p>
                </div>
            </div>
        </div>
    </div>

</footer>
</div>

</html>