{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>safebank services</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="{% url 'e_bank:home' %}"><img src="{% static 'images/logo.png' %}" style="height:100px;width:100px;"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                             <li><a href="mailto:exchang@gmail.com"><img src="{% static 'images/mail_icon.png' %}" alt="#" />safebank@gmail.com</a></li>
                            <li><a href="tel:safebank@gmail.com"><img src="{% static 'images/phone_icon.png' %}" alt="#" />+7123569847</a></li>
                            <li><a class="join_bt" href="#">Join us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg"> 
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="{% url 'e_bank:home' %}">MyBank</a></li>
                        <li><a class="nav-link" href="about">About</a></li>
                        <li><a class="nav-link" href="services">Services</a></li>
                        {% if user.is_authenticated %}
                        <li><a class="nav-link">Hello {{ user.username }}</a></li>
                        <li><a class="nav-link" href="Credentials/logout">Logout</a></li>
                        {% else %}
                        <li><a class="nav-link" href="Credentials/register">Register</a></li>
                        <li><a class="nav-link" href="Credentials/login">Login</a></li>
                        {% endif %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Branch
                        </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Alappuzha_district">Alappuzha</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Ernakulam_district">Ernakulam</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Idukki_district">Idukki</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kottayam_district">Kottayam</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thiruvananthapuram_district">Trivandum</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Thrissur_district">Trissur</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad_district">Palakkad</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Malappuram_district">Malappuram</a>
                       <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Wayanad_district">Kozhikode</a>

                </div>
                        </li>
                    </ul>
                </div>
                     </div>
                 </nav>

                </div>
            </div>
          </div>
        </div>
        
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                           <h2><span class="theme_color"></span>Services</h2>    
                        </div>
                    </div>
                </div>
            </div>
            <div>
        <div class="alert alert-warning" role="alert">
        <b style="text-align:center;">This is a demonstration of Online banking website.Not a real banking website!</b>
    </div>
    </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                       <img class="img-responsive" src="{% static 'images/s1.png' %}" alt="#" />
                       <h4>Safe & Secure</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'images/s2.png' %}" alt="#" />
                        <h4>Mobile Apps</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'images/s3.png' %}" alt="#" />
                        <h4>Wallet</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'images/s4.png' %}" alt="#" />
                        <h4>Experts Support</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'images/s2.png' %}" alt="#" />
                        <h4>Mobile Apps</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'images/s3.png' %}" alt="#" />
                        <h4>Wallet</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                       <img class="img-responsive" src="{% static 'images/s1.png' %}" alt="#" />
                       <h4>Safe & Secure</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="{% static 'images/s2.png' %}" alt="#" />
                        <h4>Mobile Apps</h4>
                    </div>
                </div>
            </div>
            <div class="row margin-top_30">
                <div class="col-sm-12">
                    <div class="full">
                        <div class="center">
                            <a class="main_bt" href="#">See More ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
   
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
               <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="{% static 'images/footer_logo.png' %}" alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="{% url 'e_bank:home' %}">> Home</a></li>
                                    <li><a href="about">> About</a></li>
                                    <li><a href="services">>Services</a></li>
                                    <li><a href="services">>Loans</a></li>
                                    <li><a href="about">> Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Newsletter</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                             <div class="newsletter_form">
                                <form action="index.html">
                                   <input type="email" placeholder="Your Email" name="#" required="">
                                   <button>Submit</button>
                                </form>
                             </div>
                         </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                             <h3>Contact us</h3>
                             <ul class="full">
                               <li><img src="{% static 'images/i5.png' %}"><span>London 145<br>United Kingdom</span></li>
                               <li><img src="{% static 'images/i6.png' %}"><span>demo@gmail.com</span></li>
                               <li><img src="{% static 'images/i7.png' %}"><span>+12586954775</span></li>
                             </ul>
                         </div>
                            </div>
                        </div>
					</div>
                </div>
			 </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2023 design by Safe Bank</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'js/slider-index.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
	
</body>

</html>